[2016-05-22 19:30] LJWatson opened #1 "pointerlockchange and the accessibility tree"
Filed on behalf of the APA WG.

When a pointerlockchange event is fired, the browser needs to reflect this in the accessibility tree. The accessibility tree is typically updated based on changes to the DOM, but it is not clear how a pointerlockchange event would be handled?

Screen magnification software zooms in on a small chunk of the screen until the content is dramatically increased in size. O

[2016-06-17 17:22] chaals commented on #1
From a **very quick and dirty** test it seems that magnifiers and browsers don't work very nicely - they try to implement but there are weird thing.

For example:

Yandex Browser (blink) + MacOS Magnifier - the pointerlock works, but the first time you engage it you have to find the approve button, and once you click it you can't move back to the thing that was meant to get the pointerlock. If mou

[2016-06-18 09:22] LJWatson commented on #1
Suggested text for the note...

Note: Magnification software increases the size of content on the screen. It uses the mouse to move the magnified point of focus around. When a pointer lock is initiated, the magnification software needs to switch to using the keyboard to move the magnified point of focus around instead. When a pointerlockchange event is fired, web browsers therefore need to make su

[2016-06-23 08:20] TakayoshiKochi opened #3 "PointerLock and Shadow DOM"
As discussed in https://github.com/w3c/webcomponents/issues/192,
Pointer Lock spec needs to incorporate Shadow DOM-aware changes.

See the discussion there.  This is only for tracking the spec change to Pointer Lock specification.

[2016-07-12 17:53] #3 closed, assigned to nobody

[2016-07-26 20:15] scheib opened #5 "Add pointerlock to the permissions enum"
As described in https://github.com/w3c/permissions/issues/67, Pointer Lock should add a definition and then request Permissions spec to incorporate the enum.

[2016-07-26 22:51] annevk commented on #5
Should it? It is only gesture gated…

[2016-07-26 23:17] scheib commented on #5
I still need to read the permissions spec in detail.

However, requestPointerLock permits a user agent to gate the feature behind a permission request. Chrome, Firefox, and Edge initially implemented with these prompts. Chrome changed to permit Pointer Lock without explicit permission prompt in early 2016. Today Firefox and Edge still prompt for permission.

[2016-07-27 05:52] annevk commented on #5
Firefox is changing that. Might have already landed in Nightly.

[2016-09-22 11:03] therealglazou opened #9 "pointerlockchange is cancelable, breaking the processing model"
This is a copy of my objection to the Pointer Lock spec, as requested by Xiaoqian Wu during W3C TPAC:

[2016-09-26 06:46] annevk commented on #9
Events cannot be canceled by default so if it's not specified one way or another I don't think there's a problem since the default would apply.

(Also, even if the event were defined as cancelable, unless the specification did something with the canceled flag (and defined that) it would be effectively a no-op.)

[2016-09-27 19:30] scheib commented on #9
Thanks for the response @annevk, does that satisfy you @therealglazou or do you believe a spec change is needed?

[2016-09-28 07:05] therealglazou commented on #9
Right @annevk and @scheib , the default cancelable attribute in EventInit dictionaries is false but nothing in the spec says the event is never cancelable so it's still  possible to create programmatically such an event with the cancelable flag to true in the eventInitDict and dispatch it. The fact the spec says nothing about the handling of the canceled flag is an ambiguity in the spec and I see

[2016-09-28 07:20] annevk commented on #9
Creating and dispatching a synthetic event doesn't have side effects (unless it's named "click") so I don't think that is actually a problem.

[2016-09-30 03:48] scheib commented on #9
@therealglazou, does this work?
[pull request diff](https://github.com/w3c/pointerlock/pull/10/files)
[preview](https://rawgit.com/w3c/pointerlock/not-cancelable/index.html#pointerlockchange-and-pointerlockerror-events)

[2016-09-30 06:34] annevk commented on #9
@scheib FWIW, I think that'd be a bad change. We don't define those kind of things for other events either. And just adding boilerplate everywhere doesn't seem like an improvement.

[2016-10-03 15:17] LJWatson commented on #9
If I understand this correctly it feels like an editorial issue. That said, it would help if we had tests that demonstrate this implicit behaviour - @scheib do we have such a thing?

[2016-10-03 20:48] scheib commented on #9
We do not have tests for synthetic events with the cancelable flag set, and handlers attempting to prevent the events.

I don't really see a concern here @therealglazou. Attempting to create a synthetic event as cancelable and then prevent it doesn't seem meaningful in general.

Web developers should not have an expectation that creating a synthetic fullscreen or pointer lock event will cause the

[2016-10-07 14:33] therealglazou commented on #9
Withdrawing my objection.

[2016-10-07 14:33] #9 closed, assigned to nobody

[2016-10-31 18:21] scheib commented on #1
Addressed in https://github.com/w3c/pointerlock/commit/52349c08e3c3ed2869c8172f830b773a3df9529e

[2016-10-31 18:21] #1 closed, assigned to nobody

[2016-10-31 18:29] scheib commented on #5
Note that Firefox nightly today still uses a permission. firefox-52.0a1.en-US.linux-x86_64.tar.bz2

However, I agree that browsers are likely to trend towards not having a permission prompt here. The pointer lock specification allows that, but I don't currently see a need to add this detail to the permissions specification.

[2016-10-31 18:29] #5 closed, assigned to nobody

[2016-11-01 10:03] LJWatson opened #11 "CFC: Publish FPWD of Pointer Lock 2.0 (closes 14th Nov 2016)"
This is a Call For Consensus (CFC) to publish a First Public Working Draft (FPWD) of Pointer Lock 2.0, based on the current <a href="https://w3c.github.io/pointerlock/">Editor's Draft (ED)</a>.

A summary of changes since the <a href="https://www.w3.org/TR/pointerlock/">Pointer Lock Recommendation</a> of 27th October 2016, can be found in the status section of the current ED.

Please respond (here

[2016-11-01 10:08] LJWatson commented on #11
CFC has been postponed.

[2016-11-07 16:48] #11 closed, assigned to nobody

[2016-11-07 16:49] LJWatson opened #12 "CFC: Publish FPWD of Pointer Lock 2.0 (closes 14th Nov 2016)"
This is a Call For Consensus (CFC) to publish a First Public Working Draft (FPWD) of Pointer Lock 2.0, based on the current <a href="https://w3c.github.io/pointerlock/">Editor's Draft (ED)</a>.

A summary of changes since the <a href="https://www.w3.org/TR/pointerlock/">Pointer Lock Recommendation</a> of 27th October 2016, can be found in the status section of the current ED.

Please respond (here

[2016-11-16 09:04] LJWatson commented on #12
This CFC passes with no objections.

[2016-11-18 23:34] scheib commented on #12
Late, but for the record I support this.

[2016-11-18 23:34] #12 closed, assigned to nobody

[2016-12-01 13:07] foolip opened #13 "Use <pre class=idl> for IDL blocks"
A friendly request. In https://github.com/mdittmer/web-apis @mdittmer is working on tooling for extracting the IDL from specs linked to from Chromium's source code, for the purpose of comparing the IDLs. This will hopefully be a powerful tool for avoiding accidental differences.

In order to avoid having to use a real browser to scrape the IDL, it's useful if a `<pre class=idl>` block is used. Thi

[2016-12-05 09:18] marcoscaceres commented on #13
Starting work on this...

[2016-12-05 22:39] #13 closed, assigned to marcoscaceres

[2017-01-12 18:33] NavidZ opened #15 "MovementX/Y for down and up"
@RByers, @scheib
Why do we have movementX/Y set to zero for down and up events? I mean those events can have different coordinates from their last move events in general (isn't it the case?) and these attributes seem to be generic and capable of being set even when pointerlock is inactive.
So can we extend the definition to also have a correct value for down and up events?

[2017-01-14 04:10] scheib commented on #15
I made that design decision in Pointer Lock because I want to reduce the chance of application error. All movements must be delivered to mousemove events, so applications will and can handle movement there. A naive handler would duplicate handling of delta movements if browsers did also include movement data in other events such as mousedown. The absolute positions of mouse events are not at risk

[2017-01-14 04:21] NavidZ commented on #15
Are you referring to the situation of when the pointer is locked? What if the pointer is not locked?

I don't see any guarantee in UI Event spec that mouseup coordinates should be the same as the last mousemove event that the page received. Also I didn't mean that we include the difference in both mouseup and mousemove. I meant every event will have the coordinate difference from the last dispatch

[2017-01-14 04:34] scheib commented on #15
movementX/Y are defined without concern for the locked state, that isn't relevant to these concerns.

The mouse events aren't specified as precisely as they should be, but they are specified sufficiently to ensure that any movement is included in mousemove. What values might mousedown have? Deltas from the previous mousemove event, or the previous mousedown event? For anything the results in mouse

[2017-01-16 18:38] NavidZ commented on #15
Alright. Fair enough. Let's go with this for now. I don't see any Blink code that sets the movementx/y only for mousemoves. But I'll do it only for pointermoves for now and see what happens.

[2017-01-16 18:38] #15 closed, assigned to nobody

[2017-01-17 16:04] NavidZ opened #16 "movementX/Y when moving out of or into an iframe"
@scheib @RByers
What is the definition of these two properties when the pointer is moving across boundaries of the iframes? As soon as mouse enters another iframe it is like it is out of the whole window from the perspective of the other iframe. So if it re-enters an iframe from another one are the movementX/Y attributes supposed to be zero as if the previous position of the pointer was not known?

[2017-01-19 18:38] scheib commented on #16
The spec requires zeros at window boundaries because the user agent can't know what the relative motion of the pointer was. However, it does know this when crossing iframe boundaries and I think we should provide the movementX/Y values. The spec doesn't address this specifically, but I think implicitly allows this fine.

However, let me know if in the code you see this to not be true, or if there'

[2017-01-19 18:44] NavidZ commented on #16
Right now in Chrome, from the iframe point of view the first event it gets has movementX/Y set as the difference between the current event and the last event. So if the last event (happened outside of this iframe) is far apart it does see a jump event though the first event that was delivered to this iframe might be near the boundary.

[2017-01-19 19:03] scheib commented on #16
;( Ok, well that's not desired, so we can either see if the impl can work
around that, or I'm also OK adding to the spec a clearing at iframe
boundaries just to make impls easy... I don't think it would have a large
negative impact to applications to miss that first data packet, while the
large jumps are very seriously broken.

[2017-01-20 16:11] mustaqahmed commented on #16
I think from a user's perspective, this is similar to the case when a locked mouse pointer (in a page w/o subframes) leaves the window & comes back:
- If the page sees the mousemoves outside its window (through OS level locking support), why an iframe won't?
- If the page doesn't see the mousemoves outside its window, the only feasible solution seems to be to compute the offsets from the last even

[2017-01-20 17:48] RByers commented on #16
I thought this was working as intended.  What I believe Navid is saying is that the event inside the new iframe includes all movement that occurred after the last event delivered to the previous frame (still inside the window) but never any more.  So this includes some travel that wasn't over the target frame, but still not a "big jump" with magnitude greater than that in other (non-iframe) cases.

[2017-01-20 17:50] RByers commented on #16
I think the Iframe case is fundamentally different from the window case for the following reason:
- `mouseleave` events are not sent to the outer frame when the mouse moves into the boundaries of a containing frame.  So from the perspective of the code in the outer frame, the mouse hasn't "left" at all.  This was @NavidZ's argument to me when I asked him this question.
- Iframes can be used when c

[2017-01-20 18:02] NavidZ commented on #16
Forget about my original implementation. I raised this issue when I was trying to write a [test](https://github.com/w3c/web-platform-tests/pull/4571) (for the new implementation) and realized I really cannot rely on the sum of all movementX of the events received by the inner iframe to be the width of the frame when pointer spans the whole iframe. It could be any number less or greater than the wi

[2017-01-20 19:31] scheib commented on #16
I agree that a pure horizontal movement across an iframe is not certain to have sum(movementX) == iframe width. The concern would be if the movement values were computed from the last pointer position over the iframe, instead of the last one received by the OS.

Thanks for the clarification RByers, I think we're on the same page, but let me diagram this out so we're really sure:

Here's a diagram

[2017-01-25 16:10] RByers commented on #16
Thanks @scheib, that makes it very concrete and I agree completely.  I don't see any good reason why event c would need to have movementX/Y==0 so I'd prefer we leave things as spec'd.

I think the only challenge here is that @NavidZ was trying to test events c and v in relative isolation from the other events.  I don't think that makes sense.  The only way to validate that the movement in events c

[2017-04-13 11:00] LJWatson opened #17 "Spec version in the ED?"
The link to the ED in the [Pointer Lock 2 FPWD](https://www.w3.org/TR/2016/WD-pointerlock-2-20161122/) seems to point to Pointer Lock 1?

[2017-04-13 17:44] scheib commented on #17
I'm sorry, I don't understand yet.

The ED version is published as
https://w3c.github.io/pointerlock/
from the source file
https://github.com/w3c/pointerlock/blob/gh-pages/index.html

It currently has the "Latest editor's draft" set to the ED link I list
above.

I'm not aware of a "Pointer Lock 2 FPWD" being published formally beyond
the ED version.

On Thu, Apr 13, 2017 at 4:00 AM, Léonie Watson

[2017-04-13 17:59] LJWatson commented on #17
I put the wrong link into my original comment (corrected now). The [FPWD](https://www.w3.org/TR/2016/WD-pointerlock-2-20161122/) was published on 22 November 2016, based on the [CFC](https://github.com/w3c/pointerlock/issues/12).

[2017-04-13 18:12] scheib commented on #17
Thanks for clarifying. I did not prepare the v2 FPWD, and don't see the work done in https://github.com/w3c/pointerlock/tree/gh-pages/publish

@siusin, you helped in the past with publication, did you do the work for the FPWD?

I think these would be good steps to take:

1. Identify who published the FPWD to https://www.w3.org/TR/2016/WD-pointerlock-2-20161122/
1. Find the document source that was

[2017-04-14 14:24] siusin commented on #17
@scheib I'd like to propose a new step, to use our auto-publication system to sync the ED in GitHub and the WD under w3.org/TR;

If you agree with the idea, I'll enable this repo in the system, after that, any change in the [ED](https://w3c.github.io/pointerlock/) will trigger a new publication of the WD. Does it make sense to you?

[2017-04-14 16:46] siusin commented on #17
Btw, ReSpec complained about the legacy ref to MDN-SetCapture. I've submitted a [PR ](https://github.com/tobie/specref/pull/353)to fix this.

[2017-04-14 19:59] scheib commented on #17
Regarding syncing github -> w3.org/TR: It's probably better to have a single ED published location, and if it is being edited on github then one location already exists. So, I'd prefer we don't have an ED version anywhere but the single github location. However, I'll go with whatever the working group is doing broadly - consistency is good!

I still need help with #2 from my [last comment](https:/

[2017-04-17 12:11] siusin commented on #17
It's really up to the editors, if you prefer to keep the ED separated from the WD, then let's hold the plan to auto-publication.

I submitted a [pull request](https://github.com/w3c/pointerlock/pull/18) to add the snapshot of FPWD :) Please let us know if there's anything we can do to help.

[2017-04-26 01:16] scheib commented on #17
Thanks, as I mention on the [pull request](https://github.com/w3c/pointerlock/pull/18) my intent is to capture the spec source used to produce the FPWD, any chance you still have that?

[2017-04-26 10:50] siusin commented on #17
I'm afraid not... it was reset when I updated the repo last time. The way I generated the FPWD should be: 1) do a `git pull` to fetch the latest documents in the repo; 2) change the "`specStatus`" in the respecConfig to "FPWD"; 3) save a snapshot from ReSpec document and put it under /TR (we are still using CVS).

How about we publish a new WD using the current ED? Will it help?

[2017-04-27 04:03] scheib commented on #17
I've updated ED source to be pointerlock-2 with https://github.com/w3c/pointerlock/commit/5caaf81899b5e6157dee4e7f63b4870d6a37b552

[2017-04-27 04:03] #17 closed, assigned to nobody

[2017-04-27 04:05] scheib commented on #16
Closing this issue without spec changes, as @RByers indicates in previous comment https://github.com/w3c/pointerlock/issues/16#issuecomment-275151076 and with no contradiction raised after.

[2017-04-27 05:12] siusin commented on #17
Thanks @scheib ! Please let us know when you think it's the right to publish a new WD :)

[2017-04-27 06:04] scheib commented on #17
Ok. There hasn't been a meaningful change since FPWD yet, so.. no update
yet.

[2017-05-31 04:45] scheib opened #21 "Dispatch pointerlockchange and pointerlockerror events to target element, falling back to document."
Pointer Lock intentionally follows the Fullscreen specification patterns. That spec is adopting an event dispatch behavior from the WebKit implementation. https://github.com/whatwg/fullscreen/issues/89

I'm copy pasting the fullscreen text. Logically for pointer lock this will apply to `pointerlockchange` and `pointerlockerror` events.

mounirlamouri wrote:

The compatibility argument doesn't appl

[2017-05-31 04:46] upsuper commented on #21
cc myself here.

[2017-06-13 21:37] LJWatson opened #22 "Time at TPAC?"
Would you like time at [TPAC](https://www.w3.org/2017/11/TPAC/) to update the WG on progress and/or bring issues up for discussion?

Please let me know by Friday 16th June. If yes, please also let me know how much time you think you'll need.

[2017-06-29 22:00] EiraGe opened #23 "movementX/Y when zoom in/out"
movementX/Y properties is defined as movementX = eNow.screenX-ePrevious.screenX in the spec.

Try this [test page](http://scheib.github.com/HTMLMisc/PointerLockAndFullscreen.html).
Zoom in on the page, click on the pink box to align the system cursor and the HTMLCursor. Moving mouse around without having the mouse locked, the HTML cursor will have more movement than the pointer.

The behavior is o

[2017-07-06 20:31] scheib commented on #23
I do not think the movement should be scaled based on page zoom.

The screen offers a fixed calibrated coordinate system. Users have adjusted the pointing device to operate in a reasonable way across that space.

When a page is zoomed in the display is magnified, but the user hasn't expressed any reason to change the input. If, for example, the mouse movement is used to rotate an object then zoomi

[2017-07-06 22:31] scheib commented on #23
I've updated http://scheib.github.com/HTMLMisc/PointerLockAndFullscreen.html to take zoom correctly into account. However, it's easier to look at https://scheib.github.io/HTMLMisc/PointerLockLog.html to see the movementXSum. The raw input should not change no matter DPI or page zoom setting. E.g. starting from left of screen and moving to right of screen should always produce the same input result

[2017-07-07 00:43] EiraGe commented on #23
Thanks for the reply.  Firefox may need to change their implement to match the spec.

But for the DPI change, the screenX/Y actually will change with device scale factor.  If movementXSum should be the same nomatter DPI, it should use system coordinate instead of screen X/Y.

[2017-07-20 18:47] NavidZ opened #24 "movementX/Y to be double instead of long"
Following [the extension](https://drafts.csswg.org/cssom-view/#extensions-to-the-mouseevent-interface) that changes screenX/Y type to double I'd suggest we also change the type of movementX/Y to double. @scheib do you imagine any scenario that this might break stuff for any developers?

[2017-07-20 23:49] scheib commented on #24
I think movementX should be modified the same as screenX. I do not think this will break any existing use. I've opened https://github.com/w3c/csswg-drafts/issues/1634 to help determine where to make this spec change.

[2017-08-10 08:56] LJWatson opened #25 "WD for PL2.0"
It would be good to get an updated Working Draft (WD) published. Any blockers for this?

[2017-08-10 17:50] scheib commented on #21
Note: [Fullscreen was updated in May](https://github.com/whatwg/fullscreen/commit/1b2fac9e82091b4cf5212da271cbe2369566cf35). This is just editing & testing work for Pointer Lock at this time (plus, implementations will need to update).

[2017-08-10 17:52] scheib commented on #25
There is only one notable update to the editor's draft from the last working draft. That is a formatting change to the IDL blocks. There are outstanding issues which need to be applied to editor's draft. One is ready to go. Two are waiting to be determined.

Until a normative change is made I don't think a working draft is warranted.

[2017-08-10 19:49] LJWatson commented on #25
Understood. Feel free to close this issue unless it's a useful place to discuss this when the time is right.

[2017-08-21 08:48] annevk opened #26 "Don't point to developers.whatwg.org"
You should use html.spec.whatwg.org. That has all the implementation requirements.

[2017-08-21 20:35] scheib opened #27 "Pointer Clip"
This issue tracks the feature request for adding the ability to restrict where a pointer can be moved to.

Pointer Lock's initial capability hides the pointer and sends all mouse / touchpad movement data via MouseEvents without being restricted by e.g. screen boundaries.

The proposed Pointer Clip feature would keep the pointer visible, but restrict its motion. This would be useful primarily for g

[2017-08-21 20:38] scheib commented on #22
If not too late, I'd work in a call for implementation interest in "Pointer Clip" https://github.com/w3c/pointerlock/issues/27

[2017-08-22 08:39] LJWatson commented on #22
No problem. Can you give me an estimate of how long you'd like? Blocks of 30 minutes are useful measures.

[2017-08-22 18:10] scheib commented on #22
Thanks. I think 30 minutes is more than enough. I think it would progress
faster than that -- we really just need to find out if implementation teams
are interested, so I think 15 minutes would be plenty.

Our Input Team lead will be at TPAC, but not Friday. Is there any
visibility for what days these types of topics will happen? If possible,
would prefer it earlier than Friday.

Thanks.

On Tue,

[2017-09-01 08:15] LJWatson commented on #22
It's likely to be Thursday. We're just putting the draft schedule together at the moment and hope to post it later today/early next week.

[2017-10-03 18:07] scheib commented on #23
https://github.com/w3c/pointerevents/issues/607 is discussing if screenX/Y should scale with browser zoom.

[2017-10-24 14:56] vans163 commented on #27
Just noting here that we have a strong use case for this for RTS games where the mouse needs to be visible and push the sides of the screen.  Drawing the mouse cursor via CSS each time the offsets update introduces noticeable studder.  Also needed is to be able to change the mouse cursor that is pointer locked (so the default is not displayed).  Something like the way NaCL did/does it was great.

[2017-10-24 14:58] vans163 opened #28 "Raw movement data, not pixel location clamped"
The relative mouse coords are currently indeed based on pixels moved, if you stretch a fixed size element that you are mousing inside, example if you make a 1280x720 fixed size canvas stretch into a 1920x1080 width canvas, the moveOffsets will be 1.5x more, when really it should not do this.  It should take the amount of units moved from what the mouse reported and base off that.

[2017-11-09 22:15] scheib commented on #22
Scheduled https://github.com/w3c/WebPlatformWG/issues/94

[2017-11-09 22:15] #22 closed, assigned to nobody

[2017-11-09 22:20] scheib commented on #28
I don't fully understand the problem description yet, and am unsure if this is a specification bug or implementation bug.  Providing a simple test page, e.g. on jsfiddle/jsbin/github would help significantly, along with clearer text.

As I understand it, changing the size of a canvas by using CSS styling should have no impact on the `movementX`/`Y` values returned.  If you are perceiving that in a

[2017-11-09 23:31] scheib opened #29 "Add non-normative text describing common implementation concerns"
- Rapid entry & release of pointer lock should still show the exit instructions
- Rapid entry & release should be able to be exited, if site is spamming these operations then ESC should still work
- Re-entry to lock when outside the window area may be a nuisance
- Must be the active window.

[2018-02-06 11:20] LJWatson commented on #25
It's been more than 12 months since the FPWD. We should get an updated WD out, even if it only has editorial differences. @ylafon is this something you can do?

[2018-02-06 12:54] ylafon commented on #25
Sure, or maybe setting up automatic publishing would be better, no?

[2018-02-06 13:26] chaals commented on #25
@ylafon

For something where nothing serious has changed in 12 months,. **no**. A Working Draft should note3 the stability and explain it, e.g. in SOTD, as per Process. Otherwise it is no improvement on a draft that is dated a year or more ago.

[2018-02-06 14:37] LJWatson commented on #25
The two are not mutually exclusive. Let's include a note in the updated WD as @Chaals notes, then use auto-publish going forward.

[2018-02-08 12:02] ylafon commented on #26
Fixed with #31

[2018-02-08 12:02] #26 closed, assigned to nobody

[2018-03-21 10:26] Titan-p opened #32 "pointerlockchange event will be sent every time mouse click event triggered"
Is that a feature or a bug?
See the demo page:
`https://mdn.github.io/dom-examples/pointer-lock/`

[2018-05-23 15:40] NavidZ commented on #24
@smaug---- I was looking at these properties and screenX/Y for pointerevents and mouseevents on FF. It seems that even screenX/Y is long for pointerevents. Do you think it is possible to change FF to expose double coordinates for pointerevents and also move the movementX/Y to double accordingly?

[2018-05-28 16:41] smaug---- commented on #24
should be doable. If nothing else, it is just a webidl change.

[2018-05-28 17:10] NavidZ commented on #24
Maybe the type is correct by there might be some sort of rounding/flooring happen for that. For example in Chrome we do that for MouseEvents for compat reasons. So even though the type is double the numbers that are exposes are long. But we thought since pointerevents are new we just expose the double version of the number.

[2018-06-18 16:32] NavidZ commented on #16
cc @eirage
I wanted to revive this issue and also bring up the point regarding the OOPIF iframes. I do believe a better and symmetric design for an embedded iframe would be to get the movementX/Y of the first event when we move in and out of an iframe. This way no matter when the iframe is embedded or it is the main frame it sees the same behavior. @smaug---- do you have any opinion about this?

[2018-06-29 16:10] EiraGe opened #34 "Clarify what event should be fired on locked state"
The spec about whether we should fire each event is vague:

and

It didn't mentioned contextmenu and auxclick events. I think it's reasonable to dispatch "auxclick" but not  "contextmenu". Maybe the spec should have a clearer list of these events?

[2018-06-29 16:14] NavidZ commented on #34
I agree that having a very specific set would be better.
So aside from auxclick and pointermove/down/up is there anything else?

[2018-06-29 16:17] EiraGe commented on #32
My understanding is this is a page issue. The demo you provided has `canvas.requestPointerLock();` on click event.

Not sure whether we should add something like "if already in locked state, do nothing" since the page should already have enough information to tell whether it's in locked state or not.

[2018-06-29 18:10] EiraGe commented on #34
dblclick?

[2018-08-16 15:01] mustaqahmed opened #35 "PointerLock request failing during Fullscreen transtion"
We encountered [this bug](crbug.com/870405) on Mac Chromium that back-to-back call for fullscreen and pointer lock causes the latter to fail because Mac fullscreen animation is not complete during the pointer lock call.

To me, it seems logical that `requestPointerLock()` could fail for animating element, or more generally for any "changing" element (e.g. one being resized).

I understand that it

[2018-09-13 18:09] NavidZ opened #36 "Option needed to disable OS-level adjustment for mouse acceleration"
Some games need to disable mouse acceleration to achieve a better gaming experience ([1](https://us.battle.net/forums/en/overwatch/topic/20753608843), [2](https://www.reddit.com/r/GlobalOffensive/comments/2qv4q8/why_is_mouse_acceleration_bad_for_gaming/)).

I believe this best fits in the pointerlock request api as an option to provide such a capability. [Here](https://docs.microsoft.com/en-us/win

[2018-09-13 20:41] EiraGe commented on #36
It sounds reasonable to me for letting developers be able to match the physical mouse movement and events movement.
A quick search on the internet I founds it's possible for player to disable mouse acceleration on the OS (except chromeOS crbug.com/589190). Considering gaming user might like to make their own choice on mouse preference, although a bit complicate, I feel adding this is actually less

[2018-09-13 21:25] NavidZ commented on #36
Is it normal for the games to have this option within them? Or do people usually go and change the settings in their platform to achieve this?

[2018-09-20 15:38] EiraGe commented on #36
I'm not familiar with gaming area, so I have no idea how people usually do. I think changing the setting in the platform seems very complicate, so it'd be nice to have this.
I'd also like to have more game developers' opinion to know whether this will help or not. (The cros bug has really high number of stars)

[2018-10-02 15:19] smaug---- commented on #36
I don't have enough experience on games to say what is preferred here. I would expect people to look at the platform prefs. Perhaps @juj has some feedback to this.

[2018-10-08 04:21] scheib commented on #36
Initial specification discussions did include this topic.  The spec FAQ
summarizes as in 12.4
https://www.w3.org/TR/pointerlock/#why-bundle

In email group discussions it was raised that some games do use raw mouse
movement, before OS level adjustments.  Those adjustments are tuned to
making a relative motion pointer work well.  Other uses of mouse movement
may not work well with those same curves

[2018-10-10 10:47] juj commented on #36
Games do commonly provide options to users to choose mouse sensitivity, and also sometimes provide options for enabling or disabling mouse acceleration. E.g. Counter-Strike:

![steamworkshop_webupload_previewfile_126920260_preview](https://user-images.githubusercontent.com/225351/46730769-919b5300-cc91-11e8-84fb-b3c28dcba800.jpg)

MineCraft has only a sensitivity setting:

![p2j0a](https://user-im

[2018-11-02 15:07] mustaqahmed commented on #24
As @smaug---- mentioned above, changing the webidl types to fractional is the first step anyway, and then we can do [what we did before](https://github.com/w3c/pointerevents/issues/107#issuecomment-232939986):
- PointerEvent's movement coordinates will be fractional, and
- MouseEvent's movement coordinates will be rounded to integers, and we drop the rounding here later on if the compat risk is lo

[2019-03-07 07:04] kr opened #41 "Warp on Exit"
Here's a feature request.

We want to provide two arguments to `exitPointerLock`: a `dx` and `dy` to warp the pointer to a new position just before making the pointer visible.

[code]

We're already using the existing pointer lock for a drag-and-drop style application. It is *nearly* a perfect fit.

The one pain point is that as soon as the user drops an object, the **cursor reappears in a weird p

[2019-03-13 21:41] EiraGe commented on #41
Have you try pointer capture with regular mouse events? https://w3c.github.io/pointerevents/#setting-pointer-capture

[2019-03-17 01:00] kr commented on #41
Oh, thank you! I just tried that and it solves my problem.

My apologies for the noise here. I did look around for alternatives before opening this issue. Somehow I was under the impression that "Pointer Lock" and "Pointer Capture" were two names for the same spec. 😅

[2019-03-17 01:00] #41 closed, assigned to nobody

[2019-03-21 21:46] EiraGe opened #42 "movementX/Y coordinate space"
The spec define movementX/Y from screenX/Y. However, while all major browser (except Edge) having screenX/Y in DIP(w3c/pointerevents#607), movementX/Y implementation are kind of mess here:

movementX/Y | Edge | Chrome | Firefox | Safari
-- | -- | -- | -- | --
coordinate space | Physical pixel | Physical pixel | CSS pixel | DIP(buggy?)
Scaled by device-scale-factor(OS High DPI setting) | X | X | ✓

[2019-03-21 21:48] EiraGe commented on #23
I'm closing this one as I opened w3c/uievents#42 to cover not only the zooming but also device scale.

[2019-03-21 21:48] #23 closed, assigned to nobody

[2019-03-25 16:01] mustaqahmed commented on #42
I agree with Ella re the incompatible implementations.

The current `movementX/Y` definition in the spec (difference between consecutive `screenX/Y` values) is problematic from another perspective: `screenX/Y` [spec](https://drafts.csswg.org/cssom-view/#dom-mouseevent-screenx) itself doesn't match the reality!  The spec defines `screenX/Y` as CSS pixels, but most major browsers have DIPs.  As a re

[2019-03-25 17:37] NavidZ commented on #42
This has two advantages: (i) seems like a safe change because sites shouldn't be affected by scale change in movementX/Y, and (ii) if we ever change screenX/Y spec to DIP in future, everything will be good from spec perspective.

So with this first way if we change screenX/Y spec to DIP first we don't need to change Pointerlock spec either. Right? I know that task has hit some road block. So I'm f

[2019-03-25 19:02] mustaqahmed commented on #42
In my first and second points above, I am not proposing any normative spec change at all.  I am proposing that browsers would pick one of the two possible _interpretations_ of the current specs (I mean the two interpretations with bullets in my last post).  There can be a non-normative note in PointerLock spec though.

[2019-04-30 14:52] binoculars88 commented on #36
I couldn't explain it better than @juj did above.
As a game developer, I'm definitely rooting for having the option to have as raw mouse input as possible, so we can present our players with options like shown above. Certainly when it comes to releasing for both stand-alone and web, having a consistent mouse movement feel is key for us.

@scheib is there anything in the backlog that would satisfy

[2019-07-02 20:36] eliwald commented on #36
This API would be immensely useful for us. We need the ability to allow games to switch back and forth between raw (non-accelerated) input and desktop (accelerated) input as necessary, depending on the context of their game. Adding this option to the pointerlock API would unlock this use case! :)

[2019-08-21 09:34] LJWatson opened #50 "Specification status report for TPAC 2019"
Please can you respond to this comment with a brief specifications status report for the WebApps meeting at TPAC. The report should address the following:
* What progress has your spec made in the last 12 months?
* Is anything blocking your spec from moving to CR?
* If yes, what is your plan to unblock it and do you need any help?
* What do you want to achieve for your spec in the next two days (o

[2019-08-30 09:57] smaug---- commented on #36
Based on some feedback, implementing this properly on all the platforms can be tricky. Linux for example has several ways to control acceleration. And I'm not sure even about MacOS.

@EiraGe @NavidZ have you figured out how to implement this everywhere per program (in such way that if a browser crashes, OS still keeps the original behavior)?

[2019-09-03 07:22] marcoscaceres commented on #50
@NavidZ, we are looking forward to seeing you at TPAC. Any chance you could provide some details  for the above questions?

[2019-09-03 14:59] NavidZ commented on #50
@marcoscaceres Thanks for pinging me on the issue. I guess I missed it before. Here is the update:

Aside from some editorial changes and whatnot, we have started adding a new capability to the request API so that it matches more platform like features such as disabling mouse acceleration. We are still working on it to get more feedback from other vendors and also investigate how different underly

[2019-09-19 07:43] NavidZ commented on #36
@whsieh

[2019-09-26 16:56] vans163 opened #52 "Allow hardware cursor while in pointer lock"
We have been dealing with using chrome to provide a remote desktop experience, now with google stadia around the corner there are still some key features lacking in chromes Pointer Lock / event handling.

1 Pointer Lock cannot show the cursor while keeping the cursor inbounds, this is a hard requirement for responsive RDP.

1.1 Pointer Lock should also be able to lock the cursor inbounds + show it

[2020-01-08 08:58] janiceshiu opened #53 "No matching definition found for `triggered by user activation`"
On the [latest editor's draft](https://w3c.github.io/pointerlock/), there is 1 respec error.

`Couldn't match "triggered by user activation" to anything in the document or in any other document cited in this specification: dom, fetch, html, infra, url, webidl. See how to cite to resolve the error at: 1.`

I could not find this term in [respec xref](https://respec.org/xref/).

This is the line that

[2020-01-08 09:05] janiceshiu opened #54 "update links to point to their final location"
The [w3 validator](https://validator.w3.org/checklink?uri=https%3A%2F%2Fw3c.github.io%2Fpointerlock%2F&hide_type=all&depth=&check=Check) found some URLs in the spec that have redirects. It recommends updating those locations for the sake of speed. 2 are http to https redirects.

Submitting a PR to fix this.

[2020-01-08 09:13] janiceshiu opened #56 "where possible, use xref to link terms from other specs"

[2020-01-22 08:40] marcoscaceres commented on #53
This is https://github.com/whatwg/html/issues/5129

[2020-01-22 08:43] marcoscaceres commented on #53
@janiceshiu we should do this one together. The link above provides some guidance on what we need to do.

[2020-01-23 02:51] #54 closed, assigned to nobody

[2020-01-23 02:52] #56 closed, assigned to nobody

[2020-02-20 14:23] mr21 opened #58 "The frequency of the security popup"
Hi :)

The PointerLock API appears to exists only for FPS games etc. but i have another scenario where this API is really useful but the security popups is starting to become annoying...

Locking the pointer for small and fine sliders is useful, with a small slider on screen we can ask the user to move the mouse more than the actual slider's width.
Also this API looks the only one to be able to lo

[2020-02-20 18:56] scheib commented on #58
Thanks for writing.  The specification allows browsers to choose how to show exit instructions, and they may choose to show them each time.

I'm a Chrome developer, and we consider this a bug in Chrome https://crbug.com/989116.

[2020-02-20 18:56] #58 closed, assigned to nobody

[2020-02-20 19:00] scheib commented on #58
(I suggest you star that issue https://crbug.com/989116 to increase the signal of interest in it being fixed, and to receive updates.)

[2020-02-20 19:07] mr21 commented on #58
done, thx :)

[2020-03-03 08:17] JamesHollyer opened #59 "User gesture requirement allows for abuse."
Websites can stop users from navigating away from the site by using something like:
document.onmousemove = function(){lock_element.requestPointerLock();};
This is a terrible user experience. While it is easy enough to use shortcuts to close the tab or something like that many novice users will feel stuck and get frustrated hitting escape only to get locked again.

Could we change the requirement t

[2020-03-04 10:39] marcoscaceres commented on #59
Firefox seems to have some mitigations in place:

[2020-03-04 10:43] marcoscaceres commented on #59
Would it make sense to restrict pointerlock to fullscreen? We do have somewhat similar constraints in the screen orientation API.

[2020-03-04 16:45] scheib commented on #59
Pointer lock should not be possible without a user gesture.  If the web app
is rapidly lock/unlocking then the exit instructions should stay visible
(if not, file a bug on whichever browsers).  If the user presses ESC then
it web app is not allowed to relock, because there hasn't been a user
gesture.  If that is happening, again file a browser bug.

I don't think there's a spec issue here, unless

[2020-03-04 19:09] NavidZ commented on #59
I agree with @scheib . User gesture should suffice for the use case. @JamesHollyer I don't think your code would work in Chrome the last time I was checking that. User activation is like a user click or something like that. Only a mouse move is not considers activation. This is more or less the same guard that let the app open a popup. Without user activation they cannot open a popup either.

[2020-03-04 23:48] JamesHollyer commented on #59
Turns out User Gesture does not include mouse movement and this is a chrome bug.  Closing the issue.

[2020-03-04 23:48] #59 closed, assigned to nobody

[2020-03-06 07:03] marcoscaceres opened #60 "Add Internationalization Considerations section"
There may or may not be any internationalization concerns with the spec, but we should make sure to have an "Internationalization Considerations" section stating that we've taken i18n into consideration. Of course, if there are things that should be considered, we should add them there :)

We will also ask the i18n WG to review the spec to see if they have any feedback for us.

This is part of w3c

[2020-03-12 16:02] nadavsinai opened #61 "feature request : Allow to set pointer position upon release"
Hi,

Here at Philips we develop a medical imaging application that uses requestPointerLock extensively to allow for complex Mouse+keyboard operations on canvas.
Specifically, the user may perform really long drags (for example for zooming) , which without the pointerlock would exit the canvas.
We have a problem when the operation needs to be communicated via the pointer as well as the change in th

[2020-04-09 09:30] LJWatson opened #62 "Add accessibility section"
In the [WebApps charter](https://www.w3.org/2019/05/webapps-charter.html#scope) it says:

To this end each spec needs to have an accessibility section. For the avoidance of doubt in the reader, the section should be included even if it indicates there are no known accessibility considerations.

Relates to w3c/webappswg#15

[2020-06-02 17:13] scheib commented on #36
Work is underway to offer unmodified movement data:

- Specification patch in progress: #49
- Chromium implementation issue: https://crbug.com/982379 - which is also running an [Origin Trial](https://developers.chrome.com/origintrials/#/view_trial/-8986933056417824767)

[2020-06-02 20:15] binoculars88 commented on #36
@scheib our users started reporting a bug with pointerlock a few days ago. It seems it started around the 28th of May. Could this be related to the release of Chrome 83? A bit more info on the bug being reported: We have a window saying the pointer isn't locked when that's the case. When users click the window we request a pointerlock again. Never had any issues, but since a couple of days, users

[2020-06-02 23:06] scheib commented on #36
@binoculars88 It may be related.  This forum is for the spec change.  Please file a new crbug.com and post a comment on https://crbug.com/982379 indicating that it may be related and we'll take a look.  A repro case would help significantly.

[2020-06-08 10:47] tim-janik commented on #42
Here is one more suggestion to deal with the situation from an API user perspective.

I'm implementing a slider/knob, that can be adjusted by dragging. For the adjustment during dragging, the distance traveled in clientX/Y coordinates can be used.
But when pointer lock is enganged during dragging, the movementX/Y coordinates have to be used instead. The obvious expectation here would be for moveme

[2020-06-19 06:54] LJWatson opened #64 "TPAC planning and specification status report"
TPAC will be virtual this year. W3C is finalising the details but it is likely there will be events for the whole W3C community during the week of 26 to 31 October (as originally planned), with WG able to organise their own meetings in/around that week.

There are two things we need you to do:
1. Let @marcoscaceres  and I know before 17 July if you want meeting time to talk about your specificatio

[2020-06-24 04:58] #53 closed, assigned to nobody

[2020-08-28 18:12] JamesHollyer commented on #36
@smaug---- We have successfully implemented this feature on all Platforms. It is now in Origin Trial and being used by Stadia and Nvidia's Geforce Now. Do you think Mozilla would support implementing this feature now that it is possible on all platforms and starting to get adoption?

[2020-10-19 06:32] marcoscaceres opened #67 "Clarify how requestPointerLock relies on user activation"
Link to "activation triggering input event" is broken. Not sure what it should link to.

[2020-10-19 06:34] marcoscaceres commented on #64
## What progress has your spec made in the last 12 months?

Looking at the logs, there doesn't appear to be much progress last 12 months - just a few editorial fixes.

[2020-10-19 20:10] mustaqahmed commented on #67
This should just point to the [definition](https://html.spec.whatwg.org/multipage/interaction.html#tracking-user-activation) in HTML spec.  That definition needs to be fixed but the PointerLock spec shouldn't worry about the details.

[2020-10-19 20:13] mustaqahmed commented on #64
That's correct: since last TPAC we landed few editorial changes only.  We have an outstanding PR on supporting unaccelerated movement (https://github.com/w3c/pointerlock/issues/36) that needs cross-browser support.

[2020-10-20 00:03] marcoscaceres commented on #67
Right, so, I guess the question is, does it use transient or sticky activation? and will it consume the activation?

[2020-10-20 13:52] mustaqahmed commented on #67
Yes, this needs to be clarified.  The "engagement gesture" idea essentially makes `requestPointerLock()` a [Transient activation-gated API](https://html.spec.whatwg.org/multipage/interaction.html#user-activation-gated-apis).  I will work on a PR next week.

[2021-06-07 20:34] #64 closed, assigned to mustaqahmed, NavidZ

[2021-06-07 20:35] #50 closed, assigned to NavidZ

[2021-06-15 14:45] #24 closed, assigned to nobody

[2021-07-10 16:25] jespertheend opened #73 "Teleporting the cursor when at the edge of the screen"
Some software like Blender and Unity warp the cursor to the opposite edge of the screen and keep showing the cursor.
This is a better user experience in some cases because the cursor stays visible and it is where you expect it to be after making a short movement.

Take https://pointer-lock-dragging-demo.glitch.me/ for instance. It could be desirable if the cursor stayed visible and moved along wit

[2021-07-21 16:18] mustaqahmed opened #74 "MovementX/Y values in coalesced events"
The PointerLock [extension](https://w3c.github.io/pointerlock/#extensions-to-the-mouseevent-interface) defining `movementX/Y` also applies to `PointerEvent`s (as a subclass of `MouseEvent`), and that calls for a clarification in `movementX/Y` values "around" [coalesced events](https://w3c.github.io/pointerevents/#coalesced-events).

When Chrome decides not to send all `pointermove` events for perf

[2021-08-25 07:38] LJWatson opened #75 "Status report and planning for TPAC 2021"
[TPAC](https://www.w3.org/2021/10/TPAC/#schedule) will be virtual again this year. There will be a WebApps WG meeting at some point between 24 and 29 October.

There are two things we need you to do in the meantime:
1. Let @marcoscaceres  and I know before 17 September if you plan to hold a specification specific meeting (in addition to the general WebApps WG meeting)
2. Post a specification statu

[2021-08-27 01:45] reillyeon commented on #75
I recommend discussing the status of https://github.com/w3c/pointerlock/pull/49. CC @nondebug.

[2021-10-25 03:34] marcoscaceres commented on #75
Reminder that the WG is meeting on [Tuesday 26 October 2021](https://github.com/w3c/webappswg/wiki/TPAC-2021#agenda---general-meeting), 9PM to 11PM UTC.

It would great if someone could give an 5 minute update on the state of this spec.

[2021-10-25 21:47] nondebug commented on #75
I can summarize the current state of the spec along with the status on PR #49

[2021-10-25 22:44] mustaqahmed commented on #75
Thanks @nondebug for covering un-accelerated `movementX/Y` part.  I will provide a quick update on the overall state plus last year's changes.

[2021-10-26 00:26] nondebug commented on #36
@smaug---- Chrome implements the option on Windows, macOS, and Chrome OS. On Windows and macOS we don't need to modify any system-wide settings.

**Windows**: Use the [Raw Input](https://docs.microsoft.com/en-us/windows/win32/inputdev/raw-input) API to receive WM_INPUT notifications. [RAWMOUSE](https://docs.microsoft.com/en-us/windows/win32/api/winuser/ns-winuser-rawmouse) contains linear unaccele

[2021-10-26 04:36] marcoscaceres commented on #75
Thanks you both! See you tomorrow.

[2021-10-26 15:30] mustaqahmed commented on #32
Yes, this is a page issue!

[2021-10-26 15:30] #32 closed, assigned to nobody

[2021-10-26 19:09] mustaqahmed commented on #75
### Spec changes since TPAC 2020
*   One normative change: [PR#68](https://github.com/w3c/pointerlock/pull/68) switched `movementX/Y` coordinates from integer type (`long`) to floating-point (`double`), to match CSSOM View Module [MouseEvent extension](https://drafts.csswg.org/cssom-view/#extensions-to-the-mouseevent-interface).
    *   This was the first step towards a bigger goal: allow precise

[2021-11-01 14:23] #75 closed, assigned to nobody

[2022-04-22 04:54] sirisian commented on #61
I also need this capability for nearly the same reason. I'm building a node editor library that features a large canvas and allows dragging around nodes and creating connections. Dragging around objects inside of the screen and also dragging with panning as they hit the edge is not a use case currently implementable by combing setPointerCapture and requestPointerLock.

Imagine the simple scenario

[2022-07-25 06:34] LJWatson opened #80 "TPAC 2022 status report"
[TPAC 2022 ](https://www.w3.org/2022/09/TPAC/) is hybrid this year. WebApps will meet in Vancouver on [12 and 13 September](https://www.w3.org/calendar/tpac2022/). Please [register](https://www.w3.org/2022/09/TPAC/registration.html) if you plan to attend in person or remotely.

Editors, we need you to do two things before 30 August 2022:

1. If you want agenda time to discuss your spec(s), please

[2022-09-12 14:40] mustaqahmed commented on #67
This was fixed through https://github.com/w3c/pointerlock/pull/76.

[2022-09-12 14:40] #67 closed, assigned to mustaqahmed

[2022-09-12 16:23] mustaqahmed commented on #80
### Spec changes since TPAC 2021
- One normative change: [PR #76](https://github.com/w3c/pointerlock/pull/76) gets rid of “engagement gestures” in this spec in favor of “User Activation” in the HTML spec ([Sec 6.4 Tracking user activation](https://html.spec.whatwg.org/multipage/interaction.html#tracking-user-activation)).  The “engagement gestures” details were both incomplete and redundant after

[2022-09-12 17:10] mustaqahmed commented on #80
Past requests for position that need attention:
- https://lists.webkit.org/pipermail/webkit-dev/2020-October/031473.html
- https://github.com/mozilla/standards-positions/issues/448

[2022-09-12 17:25] smaug---- commented on #36
So what does Chrome do then on Linux? Does it not expose unadjustedMovement at all in the dictionary or how can one do feature detection?

[2022-09-12 20:01] mustaqahmed commented on #36
On Linux, Chrome rejects the promise (and [throws an exception](https://source.chromium.org/chromium/chromium/src/+/main:third_party/blink/renderer/core/page/pointer_lock_controller.cc;drc=860d35b9034b71187a24e7519b1ca7a2814fa00d;l=231)) only when the pointer-lock request is made with `{unadjustedMovement:true}`.